<div class='container'>

  <h1 class='mx-2'>Index</h1>
  <div class='card'>
    <%= render 'bookmarks/form', bookmark: @bookmark %>
  </div>

  <div class='container'>
    <%= render 'bookmarks/index'%>
  </div>

  

</div>